<?xml version="1.0"?>
<!--
  ~ MagePulse
  ~
  ~ NOTICE OF LICENSE
  ~
  ~ This source file is subject to the MagePulse Proprietary EULA
  ~ that is bundled with this package in the file LICENSE.
  ~ It is also available through the world-wide-web at this URL:
  ~ https://magepulse.com/legal/magento-license/
  ~
  ~ @category    MagePulse
  ~ @package     MagePulse_Core
  ~ @copyright   Copyright (c) MagePulse (https://magepulse.com)
  ~ @license     https://magepulse.com/legal/magento-license/  MagePulse Proprietary EULA
  ~
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>

        <!-- Main Menu Link -->
        <add id="MagePulse_Core::magepulse_menu" title="MagePulse" module="MagePulse_Core" sortOrder="70" resource="MagePulse_Core::main_menu"/>

        <!-- Menu Sections-->
        <add id="MagePulse_Core::config_menu" title="Module Configuration" module="MagePulse_Core" sortOrder="60" resource="MagePulse_Core::developer" parent="MagePulse_Core::magepulse_menu"/>

    </menu>
</config>
